In [2]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\mzc01-minjiwoo\anaconda3\lib\site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\mzc01-minjiwoo\anaconda3\lib\site-packages (from pyspark) (0.10.9.7)

- appName() : set application name 
- getOrCreate() : returns a Spark Session 
- master() : cluster 위에서 실행시키는 경우 master 이름을 사용할 수 있다. 
- local[x] 라는 이름은 Standalone mode 에서 사용가능하다 
- x 값은 숫자값이 되어야 하고 0보다 커야 한다 
- 이는 RDD, DataFrame, Dataset 을 생성할 때 파티션의 개수를 뜻한다

In [3]:
import pyspark 
from pyspark.sql import SparkSession 
# SparkSession : entry point to programming Spark with the Dataset and DataFrame API 

spark = SparkSession.builder.appName('SparkExample.com').getOrCreate()

### Spark RDD의 동작 2가지 
1. Transformation : map(), filter()
2. Action : collect(), count()

In [4]:
from pyspark.sql.functions import * 
from pyspark.sql.types import * 

# Transformation 입니다. 
df = spark.read.load("C://Users\MZC01-MINJIWOO\Downloads\customer_dataset\marketing_campaign.csv",
                    format="csv",
                    sep="\t",
                    inferSchema="true",
                    header="true")

In [5]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [6]:
df.count()

2240

In [7]:
df.toPandas()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,13-06-2013,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,10-06-2014,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,25-01-2014,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,24-01-2014,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,15-10-2012,40,84,...,7,0,0,0,0,0,0,3,11,1

In [8]:
# Transformation - 아직 실행되지 않는다. 
# 사용자가 데이터를 나중에 가공하겠다는 요청을 해놓는 것을 Transformation 이라고 함.
dfSelected = df.select(
    col("ID").alias("id"),
    col("Year_Birth").alias("year_birth"),
    col("Education").alias("education"),
    col("Kidhome").alias("count_kid"),
    col("Teenhome").alias("count_teen"),
    col("Dt_Customer").alias("date_customer"),
    col("Recency").alias("days_last_login")
)
dfSelected

DataFrame[id: int, year_birth: int, education: string, count_kid: int, count_teen: int, date_customer: string, days_last_login: int]

In [9]:
dfSelected.explain("formatted")

== Physical Plan ==
* Project (2)
+- Scan csv  (1)


(1) Scan csv
Output [7]: [ID#17, Year_Birth#18, Education#19, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25]
Batched: false
Location: InMemoryFileIndex [file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_campaign.csv]
ReadSchema: struct<ID:int,Year_Birth:int,Education:string,Kidhome:int,Teenhome:int,Dt_Customer:string,Recency:int>

(2) Project [codegen id : 1]
Output [7]: [ID#17 AS id#138, Year_Birth#18 AS year_birth#139, Education#19 AS education#140, Kidhome#22 AS count_kid#141, Teenhome#23 AS count_teen#142, Dt_Customer#24 AS date_customer#143, Recency#25 AS days_last_login#144]
Input [7]: [ID#17, Year_Birth#18, Education#19, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25]

In [10]:
# Transformation 
dfConverted = df.withColumn("date_joined",
                           add_months(to_date(col("dt_customer"), 
                                              "d-M-yyyy"), 1))
dfConverted

DataFrame[ID: int, Year_Birth: int, Education: string, Marital_Status: string, Income: int, Kidhome: int, Teenhome: int, Dt_Customer: string, Recency: int, MntWines: int, MntFruits: int, MntMeatProducts: int, MntFishProducts: int, MntSweetProducts: int, MntGoldProds: int, NumDealsPurchases: int, NumWebPurchases: int, NumCatalogPurchases: int, NumStorePurchases: int, NumWebVisitsMonth: int, AcceptedCmp3: int, AcceptedCmp4: int, AcceptedCmp5: int, AcceptedCmp1: int, AcceptedCmp2: int, Complain: int, Z_CostContact: int, Z_Revenue: int, Response: int, date_joined: date]

In [11]:
dfConverted.explain("formatted")

== Physical Plan ==
* Project (2)
+- Scan csv  (1)


(1) Scan csv
Output [29]: [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, AcceptedCmp2#41, Complain#42, Z_CostContact#43, Z_Revenue#44, Response#45]
Batched: false
Location: InMemoryFileIndex [file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_campaign.csv]
ReadSchema: struct<ID:int,Year_Birth:int,Education:string,Marital_Status:string,Income:int,Kidhome:int,Teenhome:int,Dt_Customer:string,Recency:int,MntWines:int,MntFruits:int,MntMeatProducts:int,MntFishProducts:int,MntSweetProducts:int,MntGoldProds:int,NumDealsPurchases:int,NumWebPurchases:int,NumCatalogPurchases:int,NumStorePurchases:int,NumWebVisitsMonth:int,AcceptedCmp3:int,AcceptedCmp4:int,AcceptedCmp5:int,AcceptedCmp1:int,AcceptedCmp2:int,Complain:int,Z_CostContact:int,Z_Revenue:int,Response:int>

(2) Project [codegen id : 1]
Output [30]: [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, AcceptedCmp2#41, Complain#42, Z_CostContact#43, Z_Revenue#44, Response#45, add_months(cast(gettimestamp(dt_customer#24, d-M-yyyy, TimestampType, Some(Asia/Seoul), false) as date), 1) AS date_joined#153]
Input [29]: [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, AcceptedCmp2#41, Complain#42, Z_CostContact#43, Z_Revenue#44, Response#45]

In [12]:
dfConverted.explain("cost")

== Optimized Logical Plan ==
Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields], Statistics(sizeInBytes=220.0 KiB)
+- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv, Statistics(sizeInBytes=215.0 KiB)

== Physical Plan ==
*(1) Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- FileScan csv [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_cam..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ID:int,Year_Birth:int,Education:string,Marital_Status:string,Income:int,Kidhome:int,Teenho...

- Transformation 요청을 Action 시점으로 미루는 것을 Spark 에서는 Lazy Evaluation 이라 부릅니다.
- Trnasformation 에서는 Spark 가 연산을 DAG에 추가한다. 
- 큰 데이터를 다룰 때 map, filter 함수가 즉시 연산이 된다면 문제 발생 
- One advantage of this is that Spark can make many optimization decisions after it had a chance to look at the DAG in entirety. 따라서 최적화 할 수 있는 연산의 경우 최적화를 하여 빅데이터 처리에 유리하도록 연산한다. 
- This helps avoid too much of computation and makes way for optimization.

In [13]:
dfSelected.rdd.id

In [14]:
dfConverted.rdd.id

- 물리적인 데이터는 여전히 csv 파일로 존재하며 RDD 액션을 수행할 때 데이터를 메모로 읽어와서 처리하게 된다. 
- Dataframe 은 논리적인 테이블이다.

In [15]:
dfConverted.explain("extended")

== Parsed Logical Plan ==
'Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Analyzed Logical Plan ==
ID: int, Year_Birth: int, Education: string, Marital_Status: string, Income: int, Kidhome: int, Teenhome: int, Dt_Customer: string, Recency: int, MntWines: int, MntFruits: int, MntMeatProducts: int, MntFishProducts: int, MntSweetProducts: int, MntGoldProds: int, NumDealsPurchases: int, NumWebPurchases: int, NumCatalogPurchases: int, NumStorePurchases: int, NumWebVisitsMonth: int, AcceptedCmp3: int, AcceptedCmp4: int, AcceptedCmp5: int, AcceptedCmp1: int, ... 6 more fields
Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Optimized Logical Plan ==
Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Physical Plan ==
*(1) Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- FileScan csv [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_cam..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ID:int,Year_Birth:int,Education:string,Marital_Status:string,Income:int,Kidhome:int,Teenho...

- Spark 는 실행 계획을 생성 하고 그것을 기반으로 분석하고, 최적화 한 뒤 데이터를 읽거나 가공하는 등 물리적으로 실행한다 
- RDD (Resilient Distributed Dataset) 는 DataFrame 과 유사하게 Spark 에서 분산 데이터를 다룰 수 있도록 제공하는 Low-level API
- RDD는 DataFrame이 column 기반으로 Table 형태로 데이터를 쉽게 다를 수 있도록 추상화 된 반면에 레코드 기반으로 데이터를 가공할 수 있는 low level API 를 제공

In [16]:
dfConverted.select("education").limit(5).explain('extended')

== Parsed Logical Plan ==
GlobalLimit 5
+- LocalLimit 5
   +- Project [education#19]
      +- Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
         +- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Analyzed Logical Plan ==
education: string
GlobalLimit 5
+- LocalLimit 5
   +- Project [education#19]
      +- Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
         +- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Optimized Logical Plan ==
GlobalLimit 5
+- LocalLimit 5
   +- Project [education#19]
      +- Relation [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] csv

== Physical Plan ==
CollectLimit 5
+- FileScan csv [Education#19] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_cam..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<Education:string>

- 데이터를 읽는 시점에 저장소 (또는 Parquet 와 같은 일부 파일 포맷) 단위에서 필터링이 가능하다면 더 적은양의 데이터만 읽어오면 되므로 네트워크 비용 절감 등 성능상의 이점이 있다.

In [17]:
dfConverted.explain("codegen")

Found 1 WholeStageCodegen subtrees.
== Subtree 1 / 1 (maxMethodCodeSize:1947; maxConstantPoolSize:145(0.22% used); numInnerClasses:0) ==
*(1) Project [ID#17, Year_Birth#18, Education#19, Marital_Status#20, Income#21, Kidhome#22, Teenhome#23, Dt_Customer#24, Recency#25, MntWines#26, MntFruits#27, MntMeatProducts#28, MntFishProducts#29, MntSweetProducts#30, MntGoldProds#31, NumDealsPurchases#32, NumWebPurchases#33, NumCatalogPurchases#34, NumStorePurchases#35, NumWebVisitsMonth#36, AcceptedCmp3#37, AcceptedCmp4#38, AcceptedCmp5#39, AcceptedCmp1#40, ... 6 more fields]
+- FileScan csv [ID#17,Year_Birth#18,Education#19,Marital_Status#20,Income#21,Kidhome#22,Teenhome#23,Dt_Customer#24,Recency#25,MntWines#26,MntFruits#27,MntMeatProducts#28,MntFishProducts#29,MntSweetProducts#30,MntGoldProds#31,NumDealsPurchases#32,NumWebPurchases#33,NumCatalogPurchases#34,NumStorePurchases#35,NumWebVisitsMonth#36,AcceptedCmp3#37,AcceptedCmp4#38,AcceptedCmp5#39,AcceptedCmp1#40,... 5 more fields] Batched: false, DataFilters: [], Format: CSV, Location: InMemoryFileIndex(1 paths)[file:/C:/Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_cam..., PartitionFilters: [], PushedFilters: [], ReadSchema: struct<ID:int,Year_Birth:int,Education:string,Marital_Status:string,Income:int,Kidhome:int,Teenho...

Generated code:
/* 001 */ public Object generate(Object[] references) {
/* 002 */   return new GeneratedIteratorForCodegenStage1(references);
/* 003 */ }
/* 004 */
/* 005 */ // codegenStageId=1
/* 006 */ final class GeneratedIteratorForCodegenStage1 extends org.apache.spark.sql.execution.BufferedRowIterator {
/* 007 */   private Object[] references;
/* 008 */   private scala.collection.Iterator[] inputs;
/* 009 */   private scala.collection.Iterator inputadapter_input_0;
/* 010 */   private org.apache.spark.sql.catalyst.expressions.codegen.UnsafeRowWriter[] project_mutableStateArray_0 = new org.apache.spark.sql.catalyst.expressions.codegen.UnsafeRowWriter[1];
/* 011 */
/* 012 */   public GeneratedIteratorForCodegenStage1(Object[] references) {
/* 013 */     this.references = references;
/* 014 */   }
/* 015 */
/* 016 */   public void init(int index, scala.collection.Iterator[] inputs) {
/* 017 */     partitionIndex = index;
/* 018 */     this.inputs = inputs;
/* 019 */     inputadapter_input_0 = inputs[0];
/* 020 */     project_mutableStateArray_0[0] = new org.apache.spark.sql.catalyst.expressions.codegen.UnsafeRowWriter(30, 96);
/* 021 */
/* 022 */   }
/* 023 */
/* 024 */   protected void processNext() throws java.io.IOException {
/* 025 */     while ( inputadapter_input_0.hasNext()) {
/* 026 */       InternalRow inputadapter_row_0 = (InternalRow) inputadapter_input_0.next();
/* 027 */
/* 028 */       boolean inputadapter_isNull_7 = inputadapter_row_0.isNullAt(7);
/* 029 */       UTF8String inputadapter_value_7 = inputadapter_isNull_7 ?
/* 030 */       null : (inputadapter_row_0.getUTF8String(7));
/* 031 */
/* 032 */       // common sub-expressions
/* 033 */
/* 034 */       boolean inputadapter_isNull_0 = inputadapter_row_0.isNullAt(0);
/* 035 */       int inputadapter_value_0 = inputadapter_isNull_0 ?
/* 036 */       -1 : (inputadapter_row_0.getInt(0));
/* 037 */       boolean inputadapter_isNull_1 = inputadapter_row_0.isNullAt(1);
/* 038 */       int inputadapter_value_1 = inputadapter_isNull_1 ?
/* 039 */       -1 : (inputadapter_row_0.getInt(1));
/* 040 */       boolean inputadapter_isNull_2 = inputadapter_row_0.isNullAt(2);
/* 041 */       UTF8String inputadapter_value_2 = inputadapter_isNull_2 ?
/* 042 */       null : (inputadapter_row_0.getUTF8String(2));
/* 043 */       boolean inputadapter_isNull_3 = inputadapter_row_0.isNullAt(3);
/* 044 */       UTF8String inputadapter_value_3 = inputadapter_isNull_3 ?
/* 045 */       null : (inputadapter_row_0.getUTF8String(3));
/* 046 */       boolean inputadapter_isNull_4 = inputadapter_row_0.isNullAt(4);
/* 047 */       int inputadapter_value_4 = inputadapter_isNull_4 ?
/* 048 */       -1 : (inputadapter_row_0.getInt(4));
/* 049 */       boolean inputadapter_isNull_5 = inputadapter_row_0.isNullAt(5);
/* 050 */       int inputadapter_value_5 = inputadapter_isNull_5 ?
/* 051 */       -1 : (inputadapter_row_0.getInt(5));
/* 052 */       boolean inputadapter_isNull_6 = inputadapter_row_0.isNullAt(6);
/* 053 */       int inputadapter_value_6 = inputadapter_isNull_6 ?
/* 054 */       -1 : (inputadapter_row_0.getInt(6));
/* 055 */       boolean inputadapter_isNull_8 = inputadapter_row_0.isNullAt(8);
/* 056 */       int inputadapter_value_8 = inputadapter_isNull_8 ?
/* 057 */       -1 : (inputadapter_row_0.getInt(8));
/* 058 */       boolean inputadapter_isNull_9 = inputadapter_row_0.isNullAt(9);
/* 059 */       int inputadapter_value_9 = inputadapter_isNull_9 ?
/* 060 */       -1 : (inputadapter_row_0.getInt(9));
/* 061 */       boolean inputadapter_isNull_10 = inputadapter_row_0.isNullAt(10);
/* 062 */       int inputadapter_value_10 = inputadapter_isNull_10 ?
/* 063 */       -1 : (inputadapter_row_0.getInt(10));
/* 064 */       boolean inputadapter_isNull_11 = inputadapter_row_0.isNullAt(11);
/* 065 */       int inputadapter_value_11 = inputadapter_isNull_11 ?
/* 066 */       -1 : (inputadapter_row_0.getInt(11));
/* 067 */       boolean inputadapter_isNull_12 = inputadapter_row_0.isNullAt(12);
/* 068 */       int inputadapter_value_12 = inputadapter_isNull_12 ?
/* 069 */       -1 : (inputadapter_row_0.getInt(12));
/* 070 */       boolean inputadapter_isNull_13 = inputadapter_row_0.isNullAt(13);
/* 071 */       int inputadapter_value_13 = inputadapter_isNull_13 ?
/* 072 */       -1 : (inputadapter_row_0.getInt(13));
/* 073 */       boolean inputadapter_isNull_14 = inputadapter_row_0.isNullAt(14);
/* 074 */       int inputadapter_value_14 = inputadapter_isNull_14 ?
/* 075 */       -1 : (inputadapter_row_0.getInt(14));
/* 076 */       boolean inputadapter_isNull_15 = inputadapter_row_0.isNullAt(15);
/* 077 */       int inputadapter_value_15 = inputadapter_isNull_15 ?
/* 078 */       -1 : (inputadapter_row_0.getInt(15));
/* 079 */       boolean inputadapter_isNull_16 = inputadapter_row_0.isNullAt(16);
/* 080 */       int inputadapter_value_16 = inputadapter_isNull_16 ?
/* 081 */       -1 : (inputadapter_row_0.getInt(16));
/* 082 */       boolean inputadapter_isNull_17 = inputadapter_row_0.isNullAt(17);
/* 083 */       int inputadapter_value_17 = inputadapter_isNull_17 ?
/* 084 */       -1 : (inputadapter_row_0.getInt(17));
/* 085 */       boolean inputadapter_isNull_18 = inputadapter_row_0.isNullAt(18);
/* 086 */       int inputadapter_value_18 = inputadapter_isNull_18 ?
/* 087 */       -1 : (inputadapter_row_0.getInt(18));
/* 088 */       boolean inputadapter_isNull_19 = inputadapter_row_0.isNullAt(19);
/* 089 */       int inputadapter_value_19 = inputadapter_isNull_19 ?
/* 090 */       -1 : (inputadapter_row_0.getInt(19));
/* 091 */       boolean inputadapter_isNull_20 = inputadapter_row_0.isNullAt(20);
/* 092 */       int inputadapter_value_20 = inputadapter_isNull_20 ?
/* 093 */       -1 : (inputadapter_row_0.getInt(20));
/* 094 */       boolean inputadapter_isNull_21 = inputadapter_row_0.isNullAt(21);
/* 095 */       int inputadapter_value_21 = inputadapter_isNull_21 ?
/* 096 */       -1 : (inputadapter_row_0.getInt(21));
/* 097 */       boolean inputadapter_isNull_22 = inputadapter_row_0.isNullAt(22);
/* 098 */       int inputadapter_value_22 = inputadapter_isNull_22 ?
/* 099 */       -1 : (inputadapter_row_0.getInt(22));
/* 100 */       boolean inputadapter_isNull_23 = inputadapter_row_0.isNullAt(23);
/* 101 */       int inputadapter_value_23 = inputadapter_isNull_23 ?
/* 102 */       -1 : (inputadapter_row_0.getInt(23));
/* 103 */       boolean inputadapter_isNull_24 = inputadapter_row_0.isNullAt(24);
/* 104 */       int inputadapter_value_24 = inputadapter_isNull_24 ?
/* 105 */       -1 : (inputadapter_row_0.getInt(24));
/* 106 */       boolean inputadapter_isNull_25 = inputadapter_row_0.isNullAt(25);
/* 107 */       int inputadapter_value_25 = inputadapter_isNull_25 ?
/* 108 */       -1 : (inputadapter_row_0.getInt(25));
/* 109 */       boolean inputadapter_isNull_26 = inputadapter_row_0.isNullAt(26);
/* 110 */       int inputadapter_value_26 = inputadapter_isNull_26 ?
/* 111 */       -1 : (inputadapter_row_0.getInt(26));
/* 112 */       boolean inputadapter_isNull_27 = inputadapter_row_0.isNullAt(27);
/* 113 */       int inputadapter_value_27 = inputadapter_isNull_27 ?
/* 114 */       -1 : (inputadapter_row_0.getInt(27));
/* 115 */       boolean inputadapter_isNull_28 = inputadapter_row_0.isNullAt(28);
/* 116 */       int inputadapter_value_28 = inputadapter_isNull_28 ?
/* 117 */       -1 : (inputadapter_row_0.getInt(28));
/* 118 */       boolean project_isNull_29 = true;
/* 119 */       int project_value_29 = -1;
/* 120 */       boolean project_isNull_31 = true;
/* 121 */       long project_value_31 = -1L;
/* 122 */
/* 123 */       if (!inputadapter_isNull_7) {
/* 124 */         project_isNull_31 = false; // resultCode could change nullability.
/* 125 */
/* 126 */         try {
/* 127 */           project_value_31 = ((org.apache.spark.sql.catalyst.util.TimestampFormatter) references[0] /* formatter */).parse(inputadapter_value_7.toString()) / 1;
/* 128 */         } catch (java.time.DateTimeException e) {
/* 129 */           project_isNull_31 = true;
/* 130 */         } catch (java.text.ParseException e) {
/* 131 */           project_isNull_31 = true;
/* 132 */         }
/* 133 */
/* 134 */       }
/* 135 */       boolean project_isNull_30 = project_isNull_31;
/* 136 */       int project_value_30 = -1;
/* 137 */       if (!project_isNull_31) {
/* 138 */         project_value_30 =
/* 139 */         org.apache.spark.sql.catalyst.util.DateTimeUtils.microsToDays(project_value_31, ((java.time.ZoneId) references[2] /* zoneId */));
/* 140 */       }
/* 141 */       if (!project_isNull_30) {
/* 142 */         project_isNull_29 = false; // resultCode could change nullability.
/* 143 */         project_value_29 = org.apache.spark.sql.catalyst.util.DateTimeUtils.dateAddMonths(project_value_30, 1);
/* 144 */
/* 145 */       }
/* 146 */       project_mutableStateArray_0[0].reset();
/* 147 */
/* 148 */       project_mutableStateArray_0[0].zeroOutNullBytes();
/* 149 */
/* 150 */       if (inputadapter_isNull_0) {
/* 151 */         project_mutableStateArray_0[0].setNullAt(0);
/* 152 */       } else {
/* 153 */         project_mutableStateArray_0[0].write(0, inputadapter_value_0);
/* 154 */       }
/* 155 */
/* 156 */       if (inputadapter_isNull_1) {
/* 157 */         project_mutableStateArray_0[0].setNullAt(1);
/* 158 */       } else {
/* 159 */         project_mutableStateArray_0[0].write(1, inputadapter_value_1);
/* 160 */       }
/* 161 */
/* 162 */       if (inputadapter_isNull_2) {
/* 163 */         project_mutableStateArray_0[0].setNullAt(2);
/* 164 */       } else {
/* 165 */         project_mutableStateArray_0[0].write(2, inputadapter_value_2);
/* 166 */       }
/* 167 */
/* 168 */       if (inputadapter_isNull_3) {
/* 169 */         project_mutableStateArray_0[0].setNullAt(3);
/* 170 */       } else {
/* 171 */         project_mutableStateArray_0[0].write(3, inputadapter_value_3);
/* 172 */       }
/* 173 */
/* 174 */       if (inputadapter_isNull_4) {
/* 175 */         project_mutableStateArray_0[0].setNullAt(4);
/* 176 */       } else {
/* 177 */         project_mutableStateArray_0[0].write(4, inputadapter_value_4);
/* 178 */       }
/* 179 */
/* 180 */       if (inputadapter_isNull_5) {
/* 181 */         project_mutableStateArray_0[0].setNullAt(5);
/* 182 */       } else {
/* 183 */         project_mutableStateArray_0[0].write(5, inputadapter_value_5);
/* 184 */       }
/* 185 */
/* 186 */       if (inputadapter_isNull_6) {
/* 187 */         project_mutableStateArray_0[0].setNullAt(6);
/* 188 */       } else {
/* 189 */         project_mutableStateArray_0[0].write(6, inputadapter_value_6);
/* 190 */       }
/* 191 */
/* 192 */       if (inputadapter_isNull_7) {
/* 193 */         project_mutableStateArray_0[0].setNullAt(7);
/* 194 */       } else {
/* 195 */         project_mutableStateArray_0[0].write(7, inputadapter_value_7);
/* 196 */       }
/* 197 */
/* 198 */       if (inputadapter_isNull_8) {
/* 199 */         project_mutableStateArray_0[0].setNullAt(8);
/* 200 */       } else {
/* 201 */         project_mutableStateArray_0[0].write(8, inputadapter_value_8);
/* 202 */       }
/* 203 */
/* 204 */       if (inputadapter_isNull_9) {
/* 205 */         project_mutableStateArray_0[0].setNullAt(9);
/* 206 */       } else {
/* 207 */         project_mutableStateArray_0[0].write(9, inputadapter_value_9);
/* 208 */       }
/* 209 */
/* 210 */       if (inputadapter_isNull_10) {
/* 211 */         project_mutableStateArray_0[0].setNullAt(10);
/* 212 */       } else {
/* 213 */         project_mutableStateArray_0[0].write(10, inputadapter_value_10);
/* 214 */       }
/* 215 */
/* 216 */       if (inputadapter_isNull_11) {
/* 217 */         project_mutableStateArray_0[0].setNullAt(11);
/* 218 */       } else {
/* 219 */         project_mutableStateArray_0[0].write(11, inputadapter_value_11);
/* 220 */       }
/* 221 */
/* 222 */       if (inputadapter_isNull_12) {
/* 223 */         project_mutableStateArray_0[0].setNullAt(12);
/* 224 */       } else {
/* 225 */         project_mutableStateArray_0[0].write(12, inputadapter_value_12);
/* 226 */       }
/* 227 */
/* 228 */       if (inputadapter_isNull_13) {
/* 229 */         project_mutableStateArray_0[0].setNullAt(13);
/* 230 */       } else {
/* 231 */         project_mutableStateArray_0[0].write(13, inputadapter_value_13);
/* 232 */       }
/* 233 */
/* 234 */       if (inputadapter_isNull_14) {
/* 235 */         project_mutableStateArray_0[0].setNullAt(14);
/* 236 */       } else {
/* 237 */         project_mutableStateArray_0[0].write(14, inputadapter_value_14);
/* 238 */       }
/* 239 */
/* 240 */       if (inputadapter_isNull_15) {
/* 241 */         project_mutableStateArray_0[0].setNullAt(15);
/* 242 */       } else {
/* 243 */         project_mutableStateArray_0[0].write(15, inputadapter_value_15);
/* 244 */       }
/* 245 */
/* 246 */       if (inputadapter_isNull_16) {
/* 247 */         project_mutableStateArray_0[0].setNullAt(16);
/* 248 */       } else {
/* 249 */         project_mutableStateArray_0[0].write(16, inputadapter_value_16);
/* 250 */       }
/* 251 */
/* 252 */       if (inputadapter_isNull_17) {
/* 253 */         project_mutableStateArray_0[0].setNullAt(17);
/* 254 */       } else {
/* 255 */         project_mutableStateArray_0[0].write(17, inputadapter_value_17);
/* 256 */       }
/* 257 */
/* 258 */       if (inputadapter_isNull_18) {
/* 259 */         project_mutableStateArray_0[0].setNullAt(18);
/* 260 */       } else {
/* 261 */         project_mutableStateArray_0[0].write(18, inputadapter_value_18);
/* 262 */       }
/* 263 */
/* 264 */       if (inputadapter_isNull_19) {
/* 265 */         project_mutableStateArray_0[0].setNullAt(19);
/* 266 */       } else {
/* 267 */         project_mutableStateArray_0[0].write(19, inputadapter_value_19);
/* 268 */       }
/* 269 */
/* 270 */       if (inputadapter_isNull_20) {
/* 271 */         project_mutableStateArray_0[0].setNullAt(20);
/* 272 */       } else {
/* 273 */         project_mutableStateArray_0[0].write(20, inputadapter_value_20);
/* 274 */       }
/* 275 */
/* 276 */       if (inputadapter_isNull_21) {
/* 277 */         project_mutableStateArray_0[0].setNullAt(21);
/* 278 */       } else {
/* 279 */         project_mutableStateArray_0[0].write(21, inputadapter_value_21);
/* 280 */       }
/* 281 */
/* 282 */       if (inputadapter_isNull_22) {
/* 283 */         project_mutableStateArray_0[0].setNullAt(22);
/* 284 */       } else {
/* 285 */         project_mutableStateArray_0[0].write(22, inputadapter_value_22);
/* 286 */       }
/* 287 */
/* 288 */       if (inputadapter_isNull_23) {
/* 289 */         project_mutableStateArray_0[0].setNullAt(23);
/* 290 */       } else {
/* 291 */         project_mutableStateArray_0[0].write(23, inputadapter_value_23);
/* 292 */       }
/* 293 */
/* 294 */       if (inputadapter_isNull_24) {
/* 295 */         project_mutableStateArray_0[0].setNullAt(24);
/* 296 */       } else {
/* 297 */         project_mutableStateArray_0[0].write(24, inputadapter_value_24);
/* 298 */       }
/* 299 */
/* 300 */       if (inputadapter_isNull_25) {
/* 301 */         project_mutableStateArray_0[0].setNullAt(25);
/* 302 */       } else {
/* 303 */         project_mutableStateArray_0[0].write(25, inputadapter_value_25);
/* 304 */       }
/* 305 */
/* 306 */       if (inputadapter_isNull_26) {
/* 307 */         project_mutableStateArray_0[0].setNullAt(26);
/* 308 */       } else {
/* 309 */         project_mutableStateArray_0[0].write(26, inputadapter_value_26);
/* 310 */       }
/* 311 */
/* 312 */       if (inputadapter_isNull_27) {
/* 313 */         project_mutableStateArray_0[0].setNullAt(27);
/* 314 */       } else {
/* 315 */         project_mutableStateArray_0[0].write(27, inputadapter_value_27);
/* 316 */       }
/* 317 */
/* 318 */       if (inputadapter_isNull_28) {
/* 319 */         project_mutableStateArray_0[0].setNullAt(28);
/* 320 */       } else {
/* 321 */         project_mutableStateArray_0[0].write(28, inputadapter_value_28);
/* 322 */       }
/* 323 */
/* 324 */       if (project_isNull_29) {
/* 325 */         project_mutableStateArray_0[0].setNullAt(29);
/* 326 */       } else {
/* 327 */         project_mutableStateArray_0[0].write(29, project_value_29);
/* 328 */       }
/* 329 */       append((project_mutableStateArray_0[0].getRow()));
/* 330 */       if (shouldStop()) return;
/* 331 */     }
/* 332 */   }
/* 333 */
/* 334 */ }

### Action 
- Transformation 이 누적되면서 데이터를 어떻게 가공할지가 DataFrame 의 실행 계획으로 기록된다. 
- 사용자는 최종 시점에 여태까지 작업했던 데이터를 보거나 다른 곳으로 저장하는 행동을 취하게 된다.

In [18]:
print(f"Partition Count of Dataframe df:\t\t{df.rdd.getNumPartitions()}")
print(f"Partition Count of Dataframe dfSelected:\t\t{dfSelected.rdd.getNumPartitions()}")
print(f"Partition Count of Dataframe dfConverted:\t\t{dfConverted.rdd.getNumPartitions()}")

Partition Count of Dataframe df:		1
Partition Count of Dataframe dfSelected:		1
Partition Count of Dataframe dfConverted:		1

In [19]:
# partition 숫자 늘리기 
dfPartitioned = dfConverted.repartition(5)
print(f"Partition Count of Dataframe dfPartitioned:\t\t{dfPartitioned.rdd.getNumPartitions()}")

Partition Count of Dataframe dfPartitioned:		5

In [20]:
dfConverted.repartition(col("id"))

DataFrame[ID: int, Year_Birth: int, Education: string, Marital_Status: string, Income: int, Kidhome: int, Teenhome: int, Dt_Customer: string, Recency: int, MntWines: int, MntFruits: int, MntMeatProducts: int, MntFishProducts: int, MntSweetProducts: int, MntGoldProds: int, NumDealsPurchases: int, NumWebPurchases: int, NumCatalogPurchases: int, NumStorePurchases: int, NumWebVisitsMonth: int, AcceptedCmp3: int, AcceptedCmp4: int, AcceptedCmp5: int, AcceptedCmp1: int, AcceptedCmp2: int, Complain: int, Z_CostContact: int, Z_Revenue: int, Response: int, date_joined: date]

### repartition() vs coalesce() 
- repartition : Partition 을 늘리고 줄일 수 있음. 데이터 재배치가 발생함. 네트워크 비용이 비싸다. 
- coalesce : Partition 을 현재 숫자 이하로만 줄일 수 있음. 대신 줄이는 과정에서 옮길 필요가 없는 데이터가 있다면 옮기지 않으므로 비싼 네트워크 연산을 피할 수 있음.

In [21]:
dfSelected.describe().show()

+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+
|summary|                id|        year_birth|education|          count_kid|        count_teen|date_customer|  days_last_login|
+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+
|  count|              2240|              2240|     2240|               2240|              2240|         2240|             2240|
|   mean| 5592.159821428571|1968.8058035714287|     null|0.44419642857142855|           0.50625|         null|        49.109375|
| stddev|3246.6621975643416|11.984069456885827|     null| 0.5383980977345935|0.5445382307698761|         null|28.96245280837821|
|    min|                 0|              1893| 2n Cycle|                  0|                 0|   01-01-2013|                0|
|    max|             11191|              1996|      PhD|                  2|                 2|   31-12-2013|               99|
+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+

## spark 로 데이터 가공하기

In [22]:
dfSelected.printSchema()

root
 |-- id: integer (nullable = true)
 |-- year_birth: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- count_kid: integer (nullable = true)
 |-- count_teen: integer (nullable = true)
 |-- date_customer: string (nullable = true)
 |-- days_last_login: integer (nullable = true)

In [23]:
dfSelected.describe().show()

+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+
|summary|                id|        year_birth|education|          count_kid|        count_teen|date_customer|  days_last_login|
+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+
|  count|              2240|              2240|     2240|               2240|              2240|         2240|             2240|
|   mean| 5592.159821428571|1968.8058035714287|     null|0.44419642857142855|           0.50625|         null|        49.109375|
| stddev|3246.6621975643416|11.984069456885827|     null| 0.5383980977345935|0.5445382307698761|         null|28.96245280837821|
|    min|                 0|              1893| 2n Cycle|                  0|                 0|   01-01-2013|                0|
|    max|             11191|              1996|      PhD|                  2|                 2|   31-12-2013|               99|
+-------+------------------+------------------+---------+-------------------+------------------+-------------+-----------------+

In [24]:
dfConverted1 = dfSelected.withColumn("count_children", coalesce("count_kid", lit(0)) + coalesce("count_teen", lit(0)))

- coalesce() 함수에서 NULL 값 대신 default 값을 0 으로 설정한다.

In [25]:
dfConverted1\
    .select(col("id"), col("count_kid"), col("count_teen"), col("count_children"))\
    .limit(5)\
    .show()

+----+---------+----------+--------------+
|  id|count_kid|count_teen|count_children|
+----+---------+----------+--------------+
|5524|        0|         0|             0|
|2174|        1|         1|             2|
|4141|        0|         0|             0|
|6182|        1|         0|             1|
|5324|        1|         0|             1|
+----+---------+----------+--------------+

In [26]:
# education column 의 값 종류 
dfConverted1\
    .select("education")\
    .distinct()\
    .show()

+----------+
| education|
+----------+
|  2n Cycle|
|       PhD|
|    Master|
|Graduation|
|     Basic|
+----------+

In [27]:
educationInvalid = '2n Cycle'
educationDefault = 'NONE'
# withColumn 으로 새로운 컬럼 추가 
dfConverted2 = dfConverted1.withColumn(
    "education",
    when(col("education") == educationInvalid, educationDefault).otherwise(col("education"))
)

In [28]:
dfConverted2.select("education").distinct().show()

+----------+
| education|
+----------+
|       PhD|
|    Master|
|Graduation|
|     Basic|
|      NONE|
+----------+

In [29]:
dfConverted2.show()

+----+----------+----------+---------+----------+-------------+---------------+--------------+
|  id|year_birth| education|count_kid|count_teen|date_customer|days_last_login|count_children|
+----+----------+----------+---------+----------+-------------+---------------+--------------+
|5524|      1957|Graduation|        0|         0|   04-09-2012|             58|             0|
|2174|      1954|Graduation|        1|         1|   08-03-2014|             38|             2|
|4141|      1965|Graduation|        0|         0|   21-08-2013|             26|             0|
|6182|      1984|Graduation|        1|         0|   10-02-2014|             26|             1|
|5324|      1981|       PhD|        1|         0|   19-01-2014|             94|             1|
|7446|      1967|    Master|        0|         1|   09-09-2013|             16|             1|
| 965|      1971|Graduation|        0|         1|   13-11-2012|             34|             1|
|6177|      1985|       PhD|        1|         0|   08-05-2013|             32|             1|
|4855|      1974|       PhD|        1|         0|   06-06-2013|             19|             1|
|5899|      1950|       PhD|        1|         1|   13-03-2014|             68|             2|
|1994|      1983|Graduation|        1|         0|   15-11-2013|             11|             1|
| 387|      1976|     Basic|        0|         0|   13-11-2012|             59|             0|
|2125|      1959|Graduation|        0|         0|   15-11-2013|             82|             0|
|8180|      1952|    Master|        1|         1|   15-11-2013|             53|             2|
|2569|      1987|Graduation|        0|         0|   10-10-2012|             38|             0|
|2114|      1946|       PhD|        0|         0|   24-11-2012|             23|             0|
|9736|      1980|Graduation|        1|         1|   24-12-2012|             51|             2|
|4939|      1946|Graduation|        0|         0|   31-08-2012|             20|             0|
|6565|      1949|    Master|        0|         1|   28-03-2013|             91|             1|
|2278|      1985|      NONE|        1|         0|   03-11-2012|             86|             1|
+----+----------+----------+---------+----------+-------------+---------------+--------------+
only showing top 20 rows

- selectExpr() 로 SQL 문법 바로 사용하기

In [30]:
dfConverted3 = dfConverted1.selectExpr("*", 
                f"CASE WHEN education == '{educationInvalid}' THEN '{educationDefault}' ELSE education END as education"
    )

In [31]:
dfWithJoined = dfConverted2.withColumn("date_joined", add_months(to_date(col("date_customer"), "d-M-yyyy"), 72))

In [32]:
# 기존 값에 6년을 더함 
dfWithJoined.select("date_customer", "date_joined").limit(5).show()

+-------------+-----------+
|date_customer|date_joined|
+-------------+-----------+
|   04-09-2012| 2018-09-04|
|   08-03-2014| 2020-03-08|
|   21-08-2013| 2019-08-21|
|   10-02-2014| 2020-02-10|
|   19-01-2014| 2020-01-19|
+-------------+-----------+

In [33]:
dfWithJoined.printSchema()

root
 |-- id: integer (nullable = true)
 |-- year_birth: integer (nullable = true)
 |-- education: string (nullable = true)
 |-- count_kid: integer (nullable = true)
 |-- count_teen: integer (nullable = true)
 |-- date_customer: string (nullable = true)
 |-- days_last_login: integer (nullable = true)
 |-- count_children: integer (nullable = false)
 |-- date_joined: date (nullable = true)

# DataFrame, Dataset and SQL

- DataFrame은 Dataset[Row] 이다. Row라는 타입의 Dataset이 DataFrame이다.

- Dataset 은 Java  / Scala 언어로만 사용가능함. RDD와 같이 map, flatmap, filter 등 함수형 Collection API 의 일부를 사용할 수 있으며 DataFrame과 같이 SQL Optimizer 에 의해 최적화 됨 
- Streaming 이나 Batch Application 만들 때 주로 사용됨. 데이터 탐색이나 프로토타이핑시에는 생산성을 이유로 pyspark 가 자주 사용됨

## Reference 
- spark : https://1ambda.gitbook.io/practical-data-pipeline/02-processing/2.2-batch/2.1.2-spark-tutorial