In [1]:
val x = 2
val y = 3
x * y

Intitializing Scala interpreter ...

Spark Web UI available at http://MZC01-MINJIWOO:4040
SparkContext available as 'sc' (version = 3.4.1, master = local[*], app id = local-1695086748198)
SparkSession available as 'spark'

x: Int = 2
y: Int = 3
res0: Int = 6

In [7]:
import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._

// spark session

// load data 
val df = spark.read
    .format("csv")
    .option("format", "csv")
    .option("sep", "\t")
    .option("inferSchema", "true")
    .option("header", "true")
    .load("C://Users/MZC01-MINJIWOO/Downloads/customer_dataset/marketing_campaign.csv")

import org.apache.spark.sql.functions._
import org.apache.spark.sql.types._
df: org.apache.spark.sql.DataFrame = [ID: int, Year_Birth: int ... 27 more fields]

In [8]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [9]:
def camelToUnderscores(name: String) = "[A-Z\\d]".r.replaceAllIn(name, {m =>
    "_" + m.group(0).toLowerCase()})

def underscoresToCamel(name: String) = {
    val splitted = name.split("_")
    val converted = splitted.head.toLowerCase() +: splitted.tail.map(_.capitalize)
    converted.mkString
}

val columnsLower = df.columns.map(x => col(x).as(x.toLowerCase))
val columnsCamel = df.columns.map(x => col(x).as(underscoresToCamel(x)))

camelToUnderscores: (name: String)String
underscoresToCamel: (name: String)String
columnsLower: Array[org.apache.spark.sql.Column] = Array(ID AS id, Year_Birth AS year_birth, Education AS education, Marital_Status AS marital_status, Income AS income, Kidhome AS kidhome, Teenhome AS teenhome, Dt_Customer AS dt_customer, Recency AS recency, MntWines AS mntwines, MntFruits AS mntfruits, MntMeatProducts AS mntmeatproducts, MntFishProducts AS mntfishproducts, MntSweetProducts AS mntsweetproducts, MntGoldProds AS mntgoldprods, NumDealsPurchases AS numdealspurchases, NumWebPurchases AS numwebpurchases, NumCatalogPurchases AS numcatalogpurchases, NumStorePurchases AS numstorepurchases, NumWebVisitsMonth AS numwebvisitsmonth, AcceptedCmp3 AS acceptedcmp3, AcceptedCmp4 AS acceptedcmp4, Accepted...

- _* 연산자 : splats 라고 하며 배열, 리스트 등 collection 을 풀어서 가변 인자로 하나씩 넘겨준다.

In [10]:
val dfLower = df.select(columnsLower: _*)
val dfCamel = df.select(columnsCamel: _*)

dfLower: org.apache.spark.sql.DataFrame = [id: int, year_birth: int ... 27 more fields]
dfCamel: org.apache.spark.sql.DataFrame = [id: int, yearBirth: int ... 27 more fields]

In [12]:
dfLower.select("id", "year_birth", "education", "income", "kidhome", "teenhome", "dt_customer", "recency").show()

+----+----------+----------+------+-------+--------+-----------+-------+
|  id|year_birth| education|income|kidhome|teenhome|dt_customer|recency|
+----+----------+----------+------+-------+--------+-----------+-------+
|5524|      1957|Graduation| 58138|      0|       0| 04-09-2012|     58|
|2174|      1954|Graduation| 46344|      1|       1| 08-03-2014|     38|
|4141|      1965|Graduation| 71613|      0|       0| 21-08-2013|     26|
|6182|      1984|Graduation| 26646|      1|       0| 10-02-2014|     26|
|5324|      1981|       PhD| 58293|      1|       0| 19-01-2014|     94|
|7446|      1967|    Master| 62513|      0|       1| 09-09-2013|     16|
| 965|      1971|Graduation| 55635|      0|       1| 13-11-2012|     34|
|6177|      1985|       PhD| 33454|      1|       0| 08-05-2013|     32|
|4855|      1974|       PhD| 30351|      1|       0| 06-06-2013|     19|
|5899|      1950|       PhD|  5648|      1|       1| 13-03-2014|     68|
|1994|      1983|Graduation|  null|      1|       0| 15-11-2013|     11|
| 387|      1976|     Basic|  7500|      0|       0| 13-11-2012|     59|
|2125|      1959|Graduation| 63033|      0|       0| 15-11-2013|     82|
|8180|      1952|    Master| 59354|      1|       1| 15-11-2013|     53|
|2569|      1987|Graduation| 17323|      0|       0| 10-10-2012|     38|
|2114|      1946|       PhD| 82800|      0|       0| 24-11-2012|     23|
|9736|      1980|Graduation| 41850|      1|       1| 24-12-2012|     51|
|4939|      1946|Graduation| 37760|      0|       0| 31-08-2012|     20|
|6565|      1949|    Master| 76995|      0|       1| 28-03-2013|     91|
|2278|      1985|  2n Cycle| 33812|      1|       0| 03-11-2012|     86|
+----+----------+----------+------+-------+--------+-----------+-------+
only showing top 20 rows

In [14]:
dfCamel.select("id", "yearBirth", "education", "income", "kidhome", "teenhome", "dtCustomer").show()

+----+---------+----------+------+-------+--------+----------+
|  id|yearBirth| education|income|kidhome|teenhome|dtCustomer|
+----+---------+----------+------+-------+--------+----------+
|5524|     1957|Graduation| 58138|      0|       0|04-09-2012|
|2174|     1954|Graduation| 46344|      1|       1|08-03-2014|
|4141|     1965|Graduation| 71613|      0|       0|21-08-2013|
|6182|     1984|Graduation| 26646|      1|       0|10-02-2014|
|5324|     1981|       PhD| 58293|      1|       0|19-01-2014|
|7446|     1967|    Master| 62513|      0|       1|09-09-2013|
| 965|     1971|Graduation| 55635|      0|       1|13-11-2012|
|6177|     1985|       PhD| 33454|      1|       0|08-05-2013|
|4855|     1974|       PhD| 30351|      1|       0|06-06-2013|
|5899|     1950|       PhD|  5648|      1|       1|13-03-2014|
|1994|     1983|Graduation|  null|      1|       0|15-11-2013|
| 387|     1976|     Basic|  7500|      0|       0|13-11-2012|
|2125|     1959|Graduation| 63033|      0|       0|15-11-2013|
|8180|     1952|    Master| 59354|      1|       1|15-11-2013|
|2569|     1987|Graduation| 17323|      0|       0|10-10-2012|
|2114|     1946|       PhD| 82800|      0|       0|24-11-2012|
|9736|     1980|Graduation| 41850|      1|       1|24-12-2012|
|4939|     1946|Graduation| 37760|      0|       0|31-08-2012|
|6565|     1949|    Master| 76995|      0|       1|28-03-2013|
|2278|     1985|  2n Cycle| 33812|      1|       0|03-11-2012|
+----+---------+----------+------+-------+--------+----------+
only showing top 20 rows

In [15]:
val dfSelected = dfCamel.select("id", "yearBirth", "education", "income", "kidhome", "dtCustomer", "recency").cache()

dfSelected: org.apache.spark.sql.Dataset[org.apache.spark.sql.Row] = [id: int, yearBirth: int ... 5 more fields]

- cache() is an Apache Spark transformation that can be used on a DataFrame, Dataset, or RDD when you want to perform more than one action. cache() caches the specified DataFrame, Dataset, or RDD in the memory of your cluster’s workers.

In [16]:
case class MarketingUser(userId: Int, 
                        yearBirth: Int,
                        education: String,
                        income: Int,
                        teenhome: Int, 
                        dfCustomer: String,
                        recency: Int)

defined class MarketingUser

- Case Class 는 불변성을 가지고 있어 데이터를 변경하면 새로운 인스턴스가 생성된다.

In [17]:
// DataFrame[Row] -> Dataset[T]
val dsMarketingUser = dfSelected.withColumnRenamed("id", "userId").as[MarketingUser]